Repository ekabolotina/formik-alfalab-core-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint-js --fix, yarn run format --write

chore(deps)!: update '@alfalab/core-components'
  package.json
  src/AmountInput/index.test.tsx
  src/AmountInput/index.tsx
  src/Input/index.test.tsx
  src/Input/index.tsx
  src/InputAutocomplete/index.test.tsx
  src/InputAutocomplete/index.tsx
  src/MaskedInput/index.test.tsx
  src/MaskedInput/index.tsx
  src/PhoneInput/index.test.tsx
  src/PhoneInput/index.tsx
  src/RadioGroup/index.test.tsx
  src/RadioGroup/index.tsx
  src/Select/index.test.tsx
  src/Select/index.tsx
  src/Switch/index.tsx
  src/Textarea/index.test.tsx
  src/Textarea/index.tsx
  src/hooks/useInputFieldState.ts
  src/hooks/useSelectFieldState.ts
  src/types/SetRequired.ts
  test-utils/index.tsx
  yarn.lock
Due: yarn run lint-js --fix, yarn run format --write

chore: bump version
  package.json
Due: yarn run format --write

chore(deps)!: update '@alfalab/core-components'
  package.json
  src/AmountInput/index.tsx
  src/InputAutocomplete/index.test.tsx
  src/InputAutocomplete/index.tsx
  yarn.lock
Due: yarn run lint-js --fix, yarn run format --write

chore(deps)!: update '@alfalab/core-components'
  package.json
  src/AmountInput/index.tsx
  src/InputAutocomplete/index.tsx
  yarn.lock
Due: yarn run lint-js --fix, yarn run format --write

chore(deps)!: update '@alfalab/core-components'
  package.json
  yarn.lock
Due: yarn run format --write

feat(Checkbox): add component
  README.md
  package.json
  src/Checkbox/index.test.tsx
  src/Checkbox/index.tsx
Due: yarn run lint-js --fix, yarn run format --write

feat(Checkbox): add tests
  src/Checkbox/index.test.tsx
  src/Checkbox/index.tsx
Due: yarn run lint-js --fix, yarn run format --write

feat(Switch): add tests
  src/Switch/index.test.tsx
  src/Switch/index.tsx
Due: yarn run lint-js --fix, yarn run format --write

fix(Checkbox): remove hardcoded name
  src/Checkbox/index.tsx
Due: yarn run lint-js --fix, yarn run format --write

chore(deps): upgrade core-components to latest versions
  package.json
  yarn.lock
Due: yarn run format --write

fix(Textarea): add forwardRef in Textarea and fix types
  package.json
  src/Textarea/index.tsx
Due: yarn run lint-js --fix, yarn run format --write

fix: add missing exports
  package.json
Due: yarn run format --write

fix: update compatibility
  package.json
  src/types/SetRequired.ts
Due: yarn run lint-js --fix, yarn run format --write

fix(Textarea): add forwardRef in Textarea
  src/Textarea/index.tsx
Due: yarn run lint-js --fix, yarn run format --write

docs: add CLAUDE.md
  CLAUDE.md
Due: none

fix(jest): point asset mocks at existing file
  jest.config.js
Due: yarn run lint-js --fix, yarn run format --write

chore(deps): upgrade core-components to v50
  CLAUDE.md
  babel.config.json
  jest.config.js
  package.json
  yarn.lock
Due: yarn run lint-js --fix, yarn run format --write

Path conditions:
  yarn run lint-js --fix: any of: *.{js,jsx,ts,tsx}
  yarn run format --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
