Repository ekabolotina/formik-alfalab-core-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint-js --fix, yarn run format --write

chore(ci): set Node.js version for auto checks
  .github/workflows/checks.yml
Due: none

chore(ci): add 'Unit test' step to auto checks
  .github/workflows/checks.yml
Due: none

chore(ci): add release steps to main workflow
  .github/workflows/main.yml
Due: none

chore(ci): add 'Build' step to auto checks
  .github/workflows/checks.yml
Due: none

chore(ci): add release steps to main workflow
  .github/workflows/checks.yml
  .github/workflows/main.yml
Due: none

chore: bump version
  package.json
Due: yarn run format --write

chore: add keywords to manifest
  package.json
Due: yarn run format --write

chore: rewrite exports
  src/AmountInput/index.test.tsx
  src/AmountInput/index.tsx
  src/Input/index.test.tsx
  src/Input/index.tsx
  src/MaskedInput/index.test.tsx
  src/MaskedInput/index.tsx
  src/PhoneInput/index.test.tsx
  src/PhoneInput/index.tsx
  src/RadioGroup/index.test.tsx
  src/RadioGroup/index.tsx
  src/Select/index.test.tsx
  src/Select/index.tsx
  src/Switch/index.test.tsx
  src/Switch/index.tsx
  src/index.ts
Due: yarn run lint-js --fix, yarn run format --write

chore: set publish directory to 'dist'
  .github/workflows/main.yml
  README.md
  package.json
Due: yarn run format --write

refactor: fix code style
  .eslintrc.json
  test-utils/index.tsx
  tsconfig.build.json
Due: yarn run lint-js --fix, yarn run format --write

chore: remove unnecessary comment
  src/RadioGroup/index.tsx
Due: yarn run lint-js --fix, yarn run format --write

chore: publish root directory
  README.md
  package.json
Due: yarn run format --write

fix(RadioGroup): handle 'touched' state when using with 'Tag' component
  src/RadioGroup/index.test.tsx
  src/RadioGroup/index.tsx
Due: yarn run lint-js --fix, yarn run format --write

feat(InputAutocomplete): add component
  README.md
  package.json
  src/InputAutocomplete/index.test.tsx
  src/InputAutocomplete/index.tsx
  src/Select/index.tsx
  src/hooks/useSelectFieldState.ts
  src/index.ts
Due: yarn run lint-js --fix, yarn run format --write

feat(hooks): set return type of 'useInputFieldState' hook
  src/hooks/useInputFieldState.ts
Due: yarn run lint-js --fix, yarn run format --write

fix(InputAutocomplete): handle input value
  src/InputAutocomplete/index.test.tsx
  src/InputAutocomplete/index.tsx
Due: yarn run lint-js --fix, yarn run format --write

feat(hooks): prefer provided 'Ok' state over the formik's one
  src/AmountInput/index.test.tsx
  src/Input/index.test.tsx
  src/InputAutocomplete/index.test.tsx
  src/MaskedInput/index.test.tsx
  src/PhoneInput/index.test.tsx
  src/RadioGroup/index.test.tsx
  src/Select/index.test.tsx
  src/hooks/useFieldOkState.ts
Due: yarn run lint-js --fix, yarn run format --write

feat(Textarea): add component
  README.md
  package.json
  src/Textarea/index.test.tsx
  src/Textarea/index.tsx
  src/index.ts
Due: yarn run lint-js --fix, yarn run format --write

chore: specify the maximum version of '@alfalab/core-components'
  package.json
Due: yarn run format --write

feat(AmountInput): add support for 'max' prop
  src/AmountInput/index.test.tsx
  src/AmountInput/index.tsx
Due: yarn run lint-js --fix, yarn run format --write

feat(AmountInput): drop support for 'max' prop
  src/AmountInput/index.test.tsx
  src/AmountInput/index.tsx
Due: yarn run lint-js --fix, yarn run format --write

chore!: remove root re-exports
  README.md
  package.json
  src/index.ts
Due: yarn run lint-js --fix, yarn run format --write

Path conditions:
  yarn run lint-js --fix: any of: *.{js,jsx,ts,tsx}
  yarn run format --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
